*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: modern;
    src: url('../font/ChakraPetch-Regular.ttf');
}

:not(i) {
    font-family: modern;
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    color: #f1f1f1;
}

a {
    color: #f1f1f1;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: url('../img/moon.jpg') center/cover no-repeat;
}

.outer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

#all nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    font-size: 30px;
    z-index: 3;
    border-top: 2px solid #f1f1f1;
    padding: 5px 0px;
}

#all nav a {
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    color: #f1f1f1;
}

#all nav a h1 {
    padding: 0 10px;
}

#all nav a::before {
    position: absolute;
    content: '';
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    transition: all .2s ease-in-out;
}

#all nav a h1{
    mix-blend-mode: exclusion;
}

#all nav a:hover::before {
    transform: translateX(-100%);
}

.accroche {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 3;
    width: 100%;
}

.accroche .logo {
    width: 20%;
    height: 20%;
}

.accroche .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.accroche .texte {
    width: 75%;
    height: 80%;
    font-size: 28px;
}

.accroche .texte .liens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.accroche .texte .liens a {
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.accroche .texte .liens a img {
    width: 30px;
    height: 30px;
}

@media(max-width: 800px) {
    #all {
        justify-content: center;
    }

    .accroche {
        height: auto;
    }

    .accroche .texte {
        font-size: 20px;
        width: 90%;
        height: auto;
    }

    .accroche .texte .liens {
        flex-direction: column;
        gap: 0px;
    }

    .accroche .logo {
        height: 50%;
        width: 50%;
    }
}

@keyframes slide {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

